# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
backend_venv
frontend_venv

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Streamlit
.streamlit/

# Build / cache
dist/
build/

